body{

}

.navbar{
    border-radius: 0;
    background-color: #536DFE;
    opacity: 0.9;
}


          ul.footer{
            margin-top:20px;
            text-align:center;
          }

         ul.footer li{
          color:#757575;
          display:inline-block;
          }


       #footer{
        background-color: #EEEEEE;
        bottom: -2px;
        height: 60px;
        left: 0;
        position: absolute;
        right: 0;
       }

 #Feed{

        margin-top: 56px;
        height: 110px;
        background-color: #FAFAFA;
        border-bottom: 2px solid #F5F5F5;
        padding: .8%;
        color: black;

 }

 .icons{
        float: left;
 }

 .board_name{
        padding-top: -5%;
        text-align: center;
 }


 #remove{
        margin-top: 10px;
 }

#search{
        margin-top: 8%;
        margin-left: 25%;
        width: 70%;



}

.searcher{
        width: 60%;
        height: 60px;
        border: 2px solid #8C9EFF;
        margin-left:5%;
        padding: 2%;
        font-family: 'Allerta Stencil', sans-serif;
        font-size: 1.2em;

}

.search_btn{
        margin-top: 1%;
        margin-left:56.5%;
        background-color: #536DFE;
        border: none;
        font-size: 1em;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color:white;
}

.ao{
        font-family: 'Allerta Stencil', sans-serif;
        font-size: 4.5em;
        padding-bottom: 10px;
        margin-left:26%;
        color: #9E9E9E;
}

placeholder{
        font-family: 'Muli', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E0E0E0;
  font-family: 'Muli', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E0E0E0;
  font-family: 'Muli', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E0E0E0;
  font-family: 'Muli', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: #E0E0E0;
  font-family: 'Muli', sans-serif;
}