{% extends 'search/base.html'%}
{% block body%}

    <html>
    <head>
        <title>Search</title>
    </head>
    <body>





    <div class="container-fluid" id="search">
        <h1 class="ao">ALIYO</h1>
        <form action="/search/search/" method="get">
            <input type="text" name="q" placeholder="&nbsp;&nbsp;Let's cook..." class="searcher">
            <br>
            <input type="submit" value="Speak" class="search_btn">
        </form>
        </div>
    </body>


{% endblock %}

